html {
	background: 
	linear-gradient(
		rgba(35, 35, 35, 0.75),
		rgba(35, 35, 35, 0.75)
		),
	url("../images/girl2.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: sans-serif;
}

.header-wrapper {
	height: 160px;
}

.color {
	/*background-color: rgba(50, 50, 50, 1.0);*/
}

.logo {
	width: auto;
	height; auto;
	max-height: 100%;
	max-width: 100%;
}

.nav-wrap {
	width: 100%;
	height: 48px;
	-webkit-box-shadow: -6px 20px 21px 0px rgba(0, 0, 0, 0.66);
	-moz-box-shadow: -6px 20px 21px 0px rgba(0, 0, 0, 0.66);
	-o-box-shadow: -6px 20px 21px 0px rgba(0, 0, 0, 0.66);
	box-shadow: -6px 20px 21px 0px rgba(0, 0, 0, 0.66);
	position: relative;
	z-index: 10;
}

.contact {
	margin-right: 18px;
	top: -120px;
	position: relative;
	z-index: 11;
	float: right;
	overflow: visible;
	font-family: 'Lato';
}

.social-grouping {
	padding: 5px;
	float: right;
	clear: right;
}

.social a img {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	float: left;
}

.location > p {
	font-size: 17px;
	margin: 0px;
	color: #b8af8a;
	float: right;
	text-decoration: none;
	text-align: right;
}

.phone {
	font-size: 17px;
	color: #b8af8a;
	padding-bottom: 20px;
	text-decoration: none;
	float: right;
	clear: right;
}
/********************************/
/* begin styling the menu items */
/*                              */
/********************************/
ul {
	text-align: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	display: inline-block;
	margin-right: -5px;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	font-family: 'Lato';
	font-size: 15px;
}

ul li a {
	color: #b8af8a;
	text-decoration: none;
	display: inline-block;
	padding: 15px 20px;
	width: 100%;
}

ul li:hover {
	background: #555;
}

ul li ul {
	padding: 0;
	position: absolute;
	top: 48px;
	left: 0;
	width: 180px;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
  	-moz-transition: opacity 0.2s;
  	-ms-transition: opacity 0.2s;
  	-o-transition: opacity 0.2s;
  	-transition: opacity 0.2s;
}

ul li ul li {
	background: #555;
	display: block;
}

ul li ul li:hover {
	background: #666;
}

ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
} /* end menu item stylings */